[submodule "submodules/marian"]
	path = marian
	url = https://github.com/marian-nmt/marian
[submodule "submodules/eserix"]
	path = eserix
	url = https://github.com/summa-platform/eserix
[submodule "builder"]
	path = builder
	url = https://github.com/summa-platform/summa-build-environment
